retos/mini_reto-valor/workflow.json
{
  "name": "Los Compilados — Intake Agent",
  "nodes": [
    {
      "id": "n01-webhook",
      "name": "Webhook PQRS Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-2800, 280],
      "webhookId": "8276ff9e-89e2-4aa9-98ad-002cb61fe776",
      "parameters": {
        "httpMethod": "POST",
        "path": "8276ff9e-89e2-4aa9-98ad-002cb61fe776",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "n02-manual",
      "name": "Disparador Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-2800, 560],
      "parameters": {}
    },
    {
      "id": "n03-seed",
      "name": "Semilla de Prueba",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-2540, 560],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "s1", "name": "source_channel", "value": "web", "type": "string"},
            {"id": "s2", "name": "citizen_name", "value": "Juan Pérez", "type": "string"},
            {"id": "s3", "name": "is_anonymous", "value": "={{ false }}", "type": "boolean"},
            {"id": "s4", "name": "document_id", "value": "123456789", "type": "string"},
            {"id": "s5", "name": "email", "value": "juan@email.com", "type": "string"},
            {"id": "s6", "name": "phone", "value": "3001234567", "type": "string"},
            {"id": "s7", "name": "subject", "value": "Hueco en la vía", "type": "string"},
            {"id": "s8", "name": "description", "value": "En la comuna 11 hay un hueco grande que está causando accidentes.", "type": "string"},
            {"id": "s9", "name": "raw_text", "value": "En la comuna 11 hay un hueco grande que está causando accidentes.", "type": "string"},
            {"id": "s10", "name": "attachments", "value": "={{ [] }}", "type": "array"},
            {"id": "s11", "name": "location_text", "value": "Comuna 11, Medellín", "type": "string"},
            {"id": "s12", "name": "consent_data", "value": "={{ true }}", "type": "boolean"},
            {"id": "s13", "name": "created_at", "value": "={{ $now.toISO() }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n04-merge",
      "name": "Unificar Entradas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-2260, 360],
      "parameters": {}
    },
    {
      "id": "n05-extract-payload",
      "name": "Extraer Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2000, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const root = $input.item.json ?? {};\nconst body = root.body && typeof root.body === 'object' ? root.body : {};\nconst pick = (k) => body[k] !== undefined ? body[k] : root[k];\nconst out = {\n  source_channel: pick('source_channel') ?? 'web',\n  citizen_name:   pick('citizen_name') ?? null,\n  is_anonymous:   pick('is_anonymous') === true,\n  document_id:    pick('document_id') ?? null,\n  email:          pick('email') ?? null,\n  phone:          pick('phone') ?? null,\n  subject:        pick('subject') ?? '',\n  description:    pick('description') ?? '',\n  raw_text:       pick('raw_text') ?? pick('description') ?? '',\n  attachments:    Array.isArray(pick('attachments')) ? pick('attachments') : [],\n  location_text:  pick('location_text') ?? null,\n  consent_data:   pick('consent_data') === true,\n  created_at:     pick('created_at') ?? new Date().toISOString()\n};\nreturn out;"
      }
    },
    {
      "id": "n06-validate-schema",
      "name": "Validar Esquema NormalizedIntake",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1740, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const it = $input.item.json;\nconst errors = [];\nconst allowedChannels = new Set(['web','email','mercurio','form','phone','whatsapp']);\nif (!allowedChannels.has(it.source_channel)) errors.push('source_channel inválido');\nif (typeof it.is_anonymous !== 'boolean') errors.push('is_anonymous debe ser booleano');\nif (typeof it.consent_data !== 'boolean') errors.push('consent_data debe ser booleano');\nif (!it.subject || String(it.subject).trim().length === 0) errors.push('subject vacío');\nif (!it.description || String(it.description).trim().length === 0) errors.push('description vacía');\nif (!it.raw_text || String(it.raw_text).trim().length === 0) errors.push('raw_text vacío');\nif (!it.created_at || isNaN(Date.parse(it.created_at))) errors.push('created_at no es ISO 8601');\nif (!Array.isArray(it.attachments)) errors.push('attachments debe ser arreglo');\nif (!it.consent_data) errors.push('consent_data debe ser true (Ley 1581/2012)');\nreturn { ...it, _schema_errors: errors, _schema_ok: errors.length === 0 };"
      }
    },
    {
      "id": "n07-if-schema",
      "name": "¿Esquema Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-1480, 360],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [
            {"id": "c-schema", "leftValue": "={{ $json._schema_ok }}", "operator": {"type": "boolean", "operation": "true"}, "rightValue": ""}
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n08-reject-schema",
      "name": "Rechazo por Esquema",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1220, 720],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "r1", "name": "ok", "value": "={{ false }}", "type": "boolean"},
            {"id": "r2", "name": "stage", "value": "schema_rejected", "type": "string"},
            {"id": "r3", "name": "errors", "value": "={{ $json._schema_errors }}", "type": "array"},
            {"id": "r4", "name": "received_at", "value": "={{ $now.toISO() }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n09-compute-identity",
      "name": "Computar Identidad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1220, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const crypto = require('crypto');\nconst it = $input.item.json;\nconst CHANNEL_MAP = { web:'web', form:'web', email:'email', mercurio:'mercurio_csv', phone:'verbal', whatsapp:'social_manual' };\nconst channel = CHANNEL_MAP[it.source_channel] ?? 'web';\nconst issuedAt = new Date(it.created_at);\nconst yyyymmdd = issuedAt.toISOString().slice(0,10).replace(/-/g,'');\nconst suffix = crypto.randomBytes(3).toString('hex').toUpperCase();\nconst radicado = `MED-${yyyymmdd}-${suffix}`;\nconst hashInput = [it.raw_text, it.created_at, it.email ?? '', it.document_id ?? '', it.phone ?? ''].join('|');\nconst source_hash = crypto.createHash('sha256').update(hashInput).digest('hex');\nreturn {\n  ...it,\n  channel,\n  radicado,\n  source_hash,\n  tenant_id: '00000000-0000-0000-0000-000000000001',\n  issued_at: issuedAt.toISOString()\n};"
      }
    },
    {
      "id": "n10-format-preserve",
      "name": "Format Preserve (raw/display/llm)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const it = $input.item.json;\nconst raw_text = it.raw_text;\nconst display_text = String(raw_text)\n  .replace(/\\r\\n?/g, '\\n')\n  .replace(/[\\t\\f\\v]+/g, ' ')\n  .replace(/[ ]{2,}/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\nlet llm_text = display_text;\nllm_text = llm_text.replace(/[\\w.+-]+@[\\w-]+\\.[\\w.-]+/g, '[EMAIL]');\nllm_text = llm_text.replace(/(?<!\\d)(?:\\+?57[\\s-]?)?3\\d{2}[\\s-]?\\d{3}[\\s-]?\\d{4}(?!\\d)/g, '[PHONE]');\nllm_text = llm_text.replace(/(?<!\\d)\\d{6,11}(?!\\d)/g, '[DOC]');\nllm_text = llm_text.replace(/(?:cra|carrera|cl|calle|av|avenida|tv|transversal|dg|diagonal)\\s*[\\d#\\-\\sa-zA-Z]{2,30}/gi, '[DIRECCION]');\nreturn { ...it, raw_text, display_text, llm_text };"
      }
    },
    {
      "id": "n11-validity-model",
      "name": "Gemini Validity",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-700, 580],
      "parameters": {"options": {"temperature": 0.1}},
      "credentials": {
        "googlePalmApi": {"id": "AeCehcb0n0B8HZLa", "name": "Google Gemini(PaLM) Api account"}
      }
    },
    {
      "id": "n12-validity-parser",
      "name": "Parser Validez",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-560, 580],
      "parameters": {
        "jsonSchemaExample": "{\n  \"hechos\": \"Existe un hueco en la vía pública en la Comuna 11 que está provocando accidentes.\",\n  \"peticion\": \"Solicita la reparación inmediata del hueco para evitar más accidentes.\",\n  \"lead\": \"Hueco en la vía en Comuna 11 está causando accidentes; piden reparación inmediata.\",\n  \"respeto_ok\": true,\n  \"is_offensive\": false,\n  \"estructura_minima\": {\"hechos_ok\": true, \"peticion_ok\": true, \"lugar_ok\": true, \"fecha_ok\": false},\n  \"tutela_risk_score\": 0.35,\n  \"missing_fields\": []\n}"
      }
    },
    {
      "id": "n13-validity-agent",
      "name": "Agente Validez",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-700, 360],
      "parameters": {
        "promptType": "define",
        "text": "=Asunto: {{ $json.subject }}\n\nDescripción (texto sin PII):\n{{ $json.llm_text }}\n\nUbicación declarada: {{ $json.location_text || 'no especificada' }}\nAnónimo: {{ $json.is_anonymous }}\nTiene contacto verificable: {{ ($json.email || $json.document_id || $json.phone) ? 'sí' : 'no' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el agente de validez del intake de PQRSD para la Alcaldía de Medellín. Tu trabajo es decidir si una PQR cumple los requisitos mínimos del Art. 16 de la Ley 1755 de 2015 y extraer los componentes estructurados que la jurídica usará.\n\nProduce SIEMPRE un JSON con estos campos:\n\n1. **hechos** (string): los hechos relevantes en 1-3 oraciones, en tercera persona, sin opiniones. Si no hay hechos verificables, deja string vacío.\n2. **peticion** (string): qué pide el ciudadano, en una oración con verbo de petición (solicita / pide / requiere). String vacío si no hay petición clara.\n3. **lead** (string): resumen de una sola línea, máximo 280 caracteres, que un funcionario lee en la cola para decidir si abrir el caso.\n4. **respeto_ok** (boolean): true si el tono es respetuoso. false si hay insultos, amenazas, lenguaje discriminatorio o xenófobo.\n5. **is_offensive** (boolean): inverso de respeto_ok cuando el tono cruza la línea; reserva true para insultos directos a funcionarios o terceros.\n6. **estructura_minima** (objeto): {hechos_ok, peticion_ok, lugar_ok, fecha_ok} — cada campo booleano según si esa pieza está presente y procesable.\n7. **tutela_risk_score** (número 0..1): probabilidad de que el ciudadano interponga acción de tutela si no hay respuesta oportuna. Sube cuando hay derecho fundamental afectado (salud, mínimo vital, debido proceso), poblaciones vulnerables (menor, adulto mayor, discapacidad), urgencia explícita o lenguaje legalista.\n8. **missing_fields** (arreglo de strings): qué falta para que el caso sea procesable (ej: 'ubicación específica', 'fecha del incidente', 'identificación del afectado').\n\nReglas duras:\n- NO inventes hechos, lugares, fechas ni nombres que no estén en el texto.\n- Si el texto está en otro idioma o es ininteligible, deja hechos y peticion vacíos y reporta missing_fields.\n- Responde SIEMPRE en el esquema JSON definido, sin texto adicional."
        }
      }
    },
    {
      "id": "n14-extract-validity",
      "name": "Extraer Validez",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-440, 360],
      "parameters": {
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {"id": "v1", "name": "hechos", "value": "={{ $json.output.hechos }}", "type": "string"},
            {"id": "v2", "name": "peticion", "value": "={{ $json.output.peticion }}", "type": "string"},
            {"id": "v3", "name": "lead", "value": "={{ $json.output.lead }}", "type": "string"},
            {"id": "v4", "name": "respeto_ok", "value": "={{ $json.output.respeto_ok }}", "type": "boolean"},
            {"id": "v5", "name": "is_offensive", "value": "={{ $json.output.is_offensive }}", "type": "boolean"},
            {"id": "v6", "name": "estructura_minima", "value": "={{ $json.output.estructura_minima }}", "type": "object"},
            {"id": "v7", "name": "tutela_risk_score", "value": "={{ $json.output.tutela_risk_score }}", "type": "number"},
            {"id": "v8", "name": "missing_fields", "value": "={{ $json.output.missing_fields }}", "type": "array"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n15-passes-validity",
      "name": "Aplicar Compuertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-180, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const it = $input.item.json;\nconst em = it.estructura_minima || {};\nconst hasContact = !!(it.email || it.document_id || it.phone);\nconst anonimato_ok = it.is_anonymous ? false : hasContact;\nconst gates = {\n  hechos_ok:    em.hechos_ok === true && (it.hechos || '').trim().length > 0,\n  peticion_ok:  em.peticion_ok === true && (it.peticion || '').trim().length > 0,\n  respeto_ok:   it.respeto_ok === true && it.is_offensive !== true,\n  anonimato_ok\n};\nconst passes_validity = gates.hechos_ok && gates.peticion_ok && gates.respeto_ok && gates.anonimato_ok;\nreturn { ...it, gates, anonimato: !!it.is_anonymous, passes_validity };"
      }
    },
    {
      "id": "n16-if-validity",
      "name": "¿Es Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [80, 360],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [
            {"id": "c-val", "leftValue": "={{ $json.passes_validity }}", "operator": {"type": "boolean", "operation": "true"}, "rightValue": ""}
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n17-classifier-model",
      "name": "Gemini Clasificador",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [340, 580],
      "parameters": {"options": {"temperature": 0.1}},
      "credentials": {
        "googlePalmApi": {"id": "AeCehcb0n0B8HZLa", "name": "Google Gemini(PaLM) Api account"}
      }
    },
    {
      "id": "n18-classifier-parser",
      "name": "Parser Clasificación",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [480, 580],
      "parameters": {
        "jsonSchemaExample": "{\n  \"tipo\": \"peticion\",\n  \"secretaria_codigo\": \"SINF\",\n  \"comuna_numero\": 11,\n  \"comuna_tipo\": \"comuna\",\n  \"barrio\": \"Laureles\",\n  \"discriminacion_tematica\": [\n    \"tema:movilidad\",\n    \"subtema:movilidad:huecos\",\n    \"infraestructura:via\",\n    \"ubicacion:comuna:11\",\n    \"sentimiento:urgente\"\n  ],\n  \"reasoning\": \"Hueco en vía pública es competencia de Infraestructura Física; ubicación clara en Comuna 11.\"\n}"
      }
    },
    {
      "id": "n19-classifier-agent",
      "name": "Agente Clasificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [340, 360],
      "parameters": {
        "promptType": "define",
        "text": "=Asunto: {{ $json.subject }}\nUbicación declarada: {{ $json.location_text || 'no especificada' }}\n\nHechos: {{ $json.hechos }}\nPetición: {{ $json.peticion }}\n\nTexto completo (sin PII):\n{{ $json.llm_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el agente clasificador de PQRSD del intake de la Alcaldía de Medellín. Recibes un caso ya validado y produces clasificación de tipo, competencia, territorio y temática.\n\nProduce SIEMPRE un JSON con:\n\n1. **tipo** — uno de: 'peticion', 'queja', 'reclamo', 'oposicion', 'sugerencia', 'denuncia'.\n   - peticion: solicita información, trámite o actuación administrativa.\n   - queja: manifiesta inconformidad con la conducta de un servidor público.\n   - reclamo: exige resolver un derecho o servicio mal prestado.\n   - oposicion: presenta oposición formal contra una decisión, acto, registro, sanción, permiso o determinación municipal; debe responderse máximo en 5 días hábiles.\n   - sugerencia: propone una mejora.\n   - denuncia: reporta una conducta que requiere investigación.\n\n2. **secretaria_codigo** — UNO de los 26 códigos oficiales:\n   DESP=Despacho del Alcalde · SGOB=Gobierno y Gabinete · SHAC=Hacienda · SSAL=Salud · SEDU=Educación · SMOV=Movilidad · SMAM=Medio Ambiente · SINF=Infraestructura Física · SSEG=Seguridad y Convivencia · SDE=Desarrollo Económico · SCUL=Cultura Ciudadana · SJUV=Juventud · SMUJ=Mujeres · SPDH=Paz y DDHH · SPAR=Participación Ciudadana · SGHS=Gestión Humana y Servicio a la Ciudadanía · SSUM=Suministros y Servicios · SEVC=Evaluación y Control · SINC=Inclusión Social y Familia · SCOM=Comunicaciones · SIND=Innovación Digital · DAP=Planeación · DAGRD=Gestión del Riesgo · GCEN=Gerencia del Centro · GCOR=Gerencia de Corregimientos · UAEBC=Buen Comienzo.\n\n   Guías rápidas: huecos / vías / pavimento / puentes / alumbrado público → SINF; semáforos / tránsito / transporte público → SMOV; basuras / aseo → SMAM (recolección) o EPM si es servicio domiciliario; ruido / convivencia / espacio público / inspecciones de policía → SGOB o SSEG; impuesto predial / industria y comercio → SHAC; matrícula / PAE / docentes → SEDU; régimen subsidiado / IPS / vacunación → SSAL; deslizamientos / emergencias / desastres → DAGRD; trámites del centro / venteros del centro → GCEN; trámites en corregimientos rurales → GCOR.\n\n3. **comuna_numero** (entero o null) — Comunas (1-16): 1 Popular, 2 Santa Cruz, 3 Manrique, 4 Aranjuez, 5 Castilla, 6 Doce de Octubre, 7 Robledo, 8 Villa Hermosa, 9 Buenos Aires, 10 La Candelaria, 11 Laureles-Estadio, 12 La América, 13 San Javier, 14 El Poblado, 15 Guayabal, 16 Belén. Corregimientos: 50 San Sebastián de Palmitas, 60 San Cristóbal, 70 Altavista, 80 San Antonio de Prado, 90 Santa Elena.\n\n4. **comuna_tipo** — 'comuna' o 'corregimiento' o null si no se identifica.\n\n5. **barrio** (string o null) — barrio mencionado, si lo hay.\n\n6. **discriminacion_tematica** — arreglo de tags namespaced. Usa estos namespaces:\n   - `tema:*` → movilidad, salud, seguridad, servicios-publicos, educacion, vivienda, ambiente, empleo, cultura, deporte, discapacidad, genero, infancia, adulto-mayor.\n   - `subtema:*` → ej. movilidad:huecos, movilidad:semaforos, salud:ips, ambiente:basuras.\n   - `ubicacion:comuna:N` o `ubicacion:corregimiento:N`.\n   - `infraestructura:*` → via, alumbrado, acueducto, alcantarillado, parque, puente, edificio-publico.\n   - `actor:*` → epm, afinia, eps-sura, contratista, policia, fiscalia.\n   - `vulnerabilidad:*` → menor-de-edad, adulto-mayor, persona-con-discapacidad, victima-conflicto, mujer-embarazada.\n   - `sentimiento:*` → neutro, frustrado, enojado, urgente, agradecido.\n   Devuelve entre 3 y 10 tags relevantes; no inventes datos.\n\n7. **reasoning** (string) — una oración explicando por qué esta secretaría y este territorio.\n\nReglas duras:\n- Si la temática NO es competencia municipal (ej. cédulas, pasaportes, salud nacional), elige la secretaría más cercana y agrega el tag `keyword:fuera-de-competencia`.\n- Si el territorio no es claro, comuna_numero=null y comuna_tipo=null.\n- Responde SIEMPRE en el esquema JSON, sin texto adicional."
        }
      }
    },
    {
      "id": "n20-extract-classification",
      "name": "Extraer Clasificación",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 360],
      "parameters": {
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {"id": "k1", "name": "tipo", "value": "={{ $json.output.tipo }}", "type": "string"},
            {"id": "k2", "name": "secretaria_codigo", "value": "={{ $json.output.secretaria_codigo }}", "type": "string"},
            {"id": "k3", "name": "comuna_numero", "value": "={{ $json.output.comuna_numero }}", "type": "number"},
            {"id": "k4", "name": "comuna_tipo", "value": "={{ $json.output.comuna_tipo }}", "type": "string"},
            {"id": "k5", "name": "barrio", "value": "={{ $json.output.barrio }}", "type": "string"},
            {"id": "k6", "name": "discriminacion_tematica", "value": "={{ $json.output.discriminacion_tematica }}", "type": "array"},
            {"id": "k7", "name": "classification_reasoning", "value": "={{ $json.output.reasoning }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n21-lookup-secretaria",
      "name": "Buscar Secretaría",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, 360],
      "parameters": {
        "operation": "getAll",
        "tableId": "secretarias",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {"keyName": "tenant_id", "condition": "eq", "keyValue": "={{ $json.tenant_id }}"},
            {"keyName": "codigo",    "condition": "eq", "keyValue": "={{ $json.secretaria_codigo }}"}
          ]
        }
      },
      "credentials": {
        "supabaseApi": {"id": "ThBCT3ZXhob9Yi7x", "name": "Supabase account"}
      },
      "alwaysOutputData": true
    },
    {
      "id": "n22-capture-secretaria",
      "name": "Capturar Secretaría ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 360],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "sec1", "name": "secretaria_id", "value": "={{ $json.id || null }}", "type": "string"}
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "n23-lookup-comuna",
      "name": "Buscar Comuna",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 360],
      "parameters": {
        "operation": "getAll",
        "tableId": "comunas",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {"keyName": "tenant_id", "condition": "eq", "keyValue": "={{ $('Extraer Clasificación').item.json.tenant_id }}"},
            {"keyName": "tipo",      "condition": "eq", "keyValue": "={{ $('Extraer Clasificación').item.json.comuna_tipo || 'comuna' }}"},
            {"keyName": "numero",    "condition": "eq", "keyValue": "={{ $('Extraer Clasificación').item.json.comuna_numero }}"}
          ]
        }
      },
      "credentials": {
        "supabaseApi": {"id": "ThBCT3ZXhob9Yi7x", "name": "Supabase account"}
      },
      "alwaysOutputData": true
    },
    {
      "id": "n24-compute-priority",
      "name": "Motor de Prioridad y Plazo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const cls = $('Extraer Clasificación').item.json;\nconst val = $('Aplicar Compuertas').item.json;\nconst comunaItem = $input.item.json;\nconst comuna_id = comunaItem && comunaItem.id ? comunaItem.id : null;\nconst sec_id = $('Capturar Secretaría ID').item.json.secretaria_id || null;\n\nconst tags = Array.isArray(cls.discriminacion_tematica) ? cls.discriminacion_tematica : [];\nconst tagSet = new Set(tags.map(t => String(t).toLowerCase()));\nconst hasTag = (...needles) => needles.some(n => [...tagSet].some(t => t.includes(n)));\n\nconst tutela = Number(val.tutela_risk_score || 0);\nconst codigo = (cls.secretaria_codigo || '').toUpperCase();\nconst tipo = cls.tipo || 'peticion';\n\nlet level = 'P3_baja';\nlet score = 25;\nconst reasons = [];\n\nif (hasTag('vulnerabilidad:menor', 'vulnerabilidad:adulto-mayor', 'vulnerabilidad:persona-con-discapacidad', 'vulnerabilidad:mujer-embarazada')) {\n  level = 'P0_critica'; score = 95; reasons.push('población vulnerable identificada');\n}\nif (codigo === 'SSAL' && (hasTag('urgente') || tutela >= 0.7)) {\n  level = 'P0_critica'; score = Math.max(score, 92); reasons.push('salud + urgencia');\n}\nif (codigo === 'DAGRD') {\n  level = 'P0_critica'; score = Math.max(score, 90); reasons.push('gestión del riesgo de desastres');\n}\nif (level !== 'P0_critica') {\n  if (codigo === 'SSEG' || codigo === 'SSAL' || tipo === 'denuncia' || tutela >= 0.5) {\n    level = 'P1_alta'; score = 75; reasons.push(`competencia crítica ${codigo} o riesgo tutela ${tutela}`);\n  } else if (['SINF','SMOV','SMAM','SGOB'].includes(codigo) || tipo === 'reclamo' || tipo === 'queja') {\n    level = 'P2_media'; score = 55; reasons.push(`competencia operativa ${codigo} (${tipo})`);\n  } else {\n    level = 'P3_baja'; score = 30; reasons.push(`trámite administrativo ${codigo} (${tipo})`);\n  }\n}\n\nconst dayMs = 24 * 60 * 60 * 1000;\nconst businessDays = tipo === 'oposicion' ? 5 : level === 'P0_critica' ? 1 : level === 'P1_alta' ? 5 : level === 'P2_media' ? 15 : 30;\nlet d = new Date(val.issued_at);\nlet added = 0;\nwhile (added < businessDays) {\n  d = new Date(d.getTime() + dayMs);\n  const dow = d.getUTCDay();\n  if (dow !== 0 && dow !== 6) added += 1;\n}\nconst legal_deadline = d.toISOString();\n\nreturn {\n  ...val,\n  ...cls,\n  secretaria_id: sec_id,\n  comuna_id,\n  priority_level: level,\n  priority_score: score,\n  priority_reason: { rules: reasons, tutela_risk_score: tutela, business_days: businessDays },\n  legal_deadline\n};"
      }
    },
    {
      "id": "n25-build-row",
      "name": "Armar Fila PQR",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1920, 360],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "p01", "name": "tenant_id", "value": "={{ $json.tenant_id }}", "type": "string"},
            {"id": "p02", "name": "radicado", "value": "={{ $json.radicado }}", "type": "string"},
            {"id": "p03", "name": "source_hash", "value": "={{ $json.source_hash }}", "type": "string"},
            {"id": "p04", "name": "tipo", "value": "={{ $json.tipo }}", "type": "string"},
            {"id": "p05", "name": "channel", "value": "={{ $json.channel }}", "type": "string"},
            {"id": "p06", "name": "status", "value": "received", "type": "string"},
            {"id": "p07", "name": "classification_status", "value": "classified", "type": "string"},
            {"id": "p08", "name": "hechos", "value": "={{ $json.hechos }}", "type": "string"},
            {"id": "p09", "name": "peticion", "value": "={{ $json.peticion }}", "type": "string"},
            {"id": "p10", "name": "lead", "value": "={{ $json.lead }}", "type": "string"},
            {"id": "p11", "name": "discriminacion_tematica", "value": "={{ $json.discriminacion_tematica }}", "type": "array"},
            {"id": "p12", "name": "raw_text", "value": "={{ $json.raw_text }}", "type": "string"},
            {"id": "p13", "name": "display_text", "value": "={{ $json.display_text }}", "type": "string"},
            {"id": "p14", "name": "llm_text", "value": "={{ $json.llm_text }}", "type": "string"},
            {"id": "p15", "name": "secretaria_id", "value": "={{ $json.secretaria_id }}", "type": "string"},
            {"id": "p16", "name": "comuna_id", "value": "={{ $json.comuna_id }}", "type": "string"},
            {"id": "p17", "name": "estructura_minima", "value": "={{ $json.estructura_minima }}", "type": "object"},
            {"id": "p18", "name": "respeto_ok", "value": "={{ $json.respeto_ok }}", "type": "boolean"},
            {"id": "p19", "name": "anonimato", "value": "={{ $json.anonimato }}", "type": "boolean"},
            {"id": "p20", "name": "tutela_risk_score", "value": "={{ $json.tutela_risk_score }}", "type": "number"},
            {"id": "p21", "name": "issued_at", "value": "={{ $json.issued_at }}", "type": "string"},
            {"id": "p22", "name": "legal_deadline", "value": "={{ $json.legal_deadline }}", "type": "string"},
            {"id": "p23", "name": "priority_level", "value": "={{ $json.priority_level }}", "type": "string"},
            {"id": "p24", "name": "priority_score", "value": "={{ $json.priority_score }}", "type": "number"},
            {"id": "p25", "name": "priority_reason", "value": "={{ $json.priority_reason }}", "type": "object"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n26-insert-pqr",
      "name": "Insertar PQR",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2180, 360],
      "parameters": {
        "operation": "create",
        "tableId": "pqr",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "tenant_id",               "fieldValue": "={{ $json.tenant_id }}"},
            {"fieldId": "radicado",                "fieldValue": "={{ $json.radicado }}"},
            {"fieldId": "source_hash",             "fieldValue": "={{ $json.source_hash }}"},
            {"fieldId": "tipo",                    "fieldValue": "={{ $json.tipo }}"},
            {"fieldId": "channel",                 "fieldValue": "={{ $json.channel }}"},
            {"fieldId": "status",                  "fieldValue": "={{ $json.status }}"},
            {"fieldId": "classification_status",   "fieldValue": "={{ $json.classification_status }}"},
            {"fieldId": "hechos",                  "fieldValue": "={{ $json.hechos }}"},
            {"fieldId": "peticion",                "fieldValue": "={{ $json.peticion }}"},
            {"fieldId": "lead",                    "fieldValue": "={{ $json.lead }}"},
            {"fieldId": "discriminacion_tematica", "fieldValue": "={{ JSON.stringify($json.discriminacion_tematica) }}"},
            {"fieldId": "raw_text",                "fieldValue": "={{ $json.raw_text }}"},
            {"fieldId": "display_text",            "fieldValue": "={{ $json.display_text }}"},
            {"fieldId": "llm_text",                "fieldValue": "={{ $json.llm_text }}"},
            {"fieldId": "secretaria_id",           "fieldValue": "={{ $json.secretaria_id }}"},
            {"fieldId": "comuna_id",               "fieldValue": "={{ $json.comuna_id }}"},
            {"fieldId": "estructura_minima",       "fieldValue": "={{ JSON.stringify($json.estructura_minima) }}"},
            {"fieldId": "respeto_ok",              "fieldValue": "={{ $json.respeto_ok }}"},
            {"fieldId": "anonimato",               "fieldValue": "={{ $json.anonimato }}"},
            {"fieldId": "tutela_risk_score",       "fieldValue": "={{ $json.tutela_risk_score }}"},
            {"fieldId": "issued_at",               "fieldValue": "={{ $json.issued_at }}"},
            {"fieldId": "legal_deadline",          "fieldValue": "={{ $json.legal_deadline }}"},
            {"fieldId": "priority_level",          "fieldValue": "={{ $json.priority_level }}"},
            {"fieldId": "priority_score",          "fieldValue": "={{ $json.priority_score }}"},
            {"fieldId": "priority_reason",         "fieldValue": "={{ JSON.stringify($json.priority_reason) }}"}
          ]
        }
      },
      "credentials": {
        "supabaseApi": {"id": "ThBCT3ZXhob9Yi7x", "name": "Supabase account"}
      }
    },
    {
      "id": "n27-emit-event",
      "name": "Emitir Evento Intake",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 360],
      "parameters": {
        "operation": "create",
        "tableId": "pqr_events",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "tenant_id", "fieldValue": "={{ $json.tenant_id }}"},
            {"fieldId": "pqr_id",    "fieldValue": "={{ $json.id }}"},
            {"fieldId": "kind",      "fieldValue": "intake_agent_run"},
            {"fieldId": "payload",   "fieldValue": "={{ JSON.stringify({ validity: 'passed', priority_level: $json.priority_level, secretaria_id: $json.secretaria_id, comuna_id: $json.comuna_id, tutela_risk_score: $json.tutela_risk_score, lead: $json.lead, run_at: $now.toISO() }) }}"}
          ]
        }
      },
      "credentials": {
        "supabaseApi": {"id": "ThBCT3ZXhob9Yi7x", "name": "Supabase account"}
      }
    },
    {
      "id": "n28-output-success",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2700, 360],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "ok1", "name": "ok", "value": "={{ true }}", "type": "boolean"},
            {"id": "ok2", "name": "stage", "value": "accepted", "type": "string"},
            {"id": "ok3", "name": "pqr_id", "value": "={{ $json.id }}", "type": "string"},
            {"id": "ok4", "name": "radicado", "value": "={{ $json.radicado }}", "type": "string"},
            {"id": "ok5", "name": "status", "value": "={{ $json.status }}", "type": "string"},
            {"id": "ok6", "name": "priority_level", "value": "={{ $json.priority_level }}", "type": "string"},
            {"id": "ok7", "name": "priority_score", "value": "={{ $json.priority_score }}", "type": "number"},
            {"id": "ok8", "name": "secretaria_id", "value": "={{ $json.secretaria_id }}", "type": "string"},
            {"id": "ok9", "name": "lead", "value": "={{ $json.lead }}", "type": "string"},
            {"id": "ok10", "name": "legal_deadline", "value": "={{ $json.legal_deadline }}", "type": "string"},
            {"id": "ok11", "name": "processed_at", "value": "={{ $now.toISO() }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n29-invalid-reason",
      "name": "Generar Razón de Rebote",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 720],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const it = $input.item.json;\nconst g = it.gates || {};\nconst codes = [];\nconst messages = [];\nif (!g.hechos_ok)     { codes.push('faltan_hechos');                 messages.push('No identificamos hechos concretos en su PQR.'); }\nif (!g.peticion_ok)   { codes.push('falta_peticion');                messages.push('No identificamos una petición clara.'); }\nif (!g.respeto_ok)    { codes.push('irrespetuoso');                  messages.push('La PQR contiene lenguaje no respetuoso.'); }\nif (!g.anonimato_ok)  { codes.push('anonimo_sin_datos_contacto');    messages.push('Como anónimo no podemos contactarle; aporte un medio de contacto.'); }\nif (codes.length === 0) { codes.push('fuera_de_competencia_municipal'); messages.push('La temática parece no corresponder al ámbito municipal.'); }\nreturn { ...it, invalid_reason_codes: codes, invalid_reason_message: messages.join(' ') };"
      }
    },
    {
      "id": "n30-build-bounce",
      "name": "Armar Fila Rebote",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 720],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "b01", "name": "tenant_id", "value": "={{ $json.tenant_id }}", "type": "string"},
            {"id": "b02", "name": "radicado", "value": "={{ $json.radicado }}", "type": "string"},
            {"id": "b03", "name": "source_hash", "value": "={{ $json.source_hash }}", "type": "string"},
            {"id": "b04", "name": "channel", "value": "={{ $json.channel }}", "type": "string"},
            {"id": "b05", "name": "status", "value": "bounced_incomplete", "type": "string"},
            {"id": "b06", "name": "classification_status", "value": "failed", "type": "string"},
            {"id": "b07", "name": "hechos", "value": "={{ $json.hechos || '' }}", "type": "string"},
            {"id": "b08", "name": "peticion", "value": "={{ $json.peticion || '' }}", "type": "string"},
            {"id": "b09", "name": "lead", "value": "={{ $json.invalid_reason_message }}", "type": "string"},
            {"id": "b10", "name": "discriminacion_tematica", "value": "={{ ($json.invalid_reason_codes || []).map(c => 'razon:' + c) }}", "type": "array"},
            {"id": "b11", "name": "raw_text", "value": "={{ $json.raw_text }}", "type": "string"},
            {"id": "b12", "name": "display_text", "value": "={{ $json.display_text }}", "type": "string"},
            {"id": "b13", "name": "llm_text", "value": "={{ $json.llm_text }}", "type": "string"},
            {"id": "b14", "name": "estructura_minima", "value": "={{ $json.estructura_minima }}", "type": "object"},
            {"id": "b15", "name": "respeto_ok", "value": "={{ $json.respeto_ok }}", "type": "boolean"},
            {"id": "b16", "name": "anonimato", "value": "={{ $json.anonimato }}", "type": "boolean"},
            {"id": "b17", "name": "tutela_risk_score", "value": "={{ $json.tutela_risk_score }}", "type": "number"},
            {"id": "b18", "name": "issued_at", "value": "={{ $json.issued_at }}", "type": "string"},
            {"id": "b19", "name": "invalid_reason_codes", "value": "={{ $json.invalid_reason_codes }}", "type": "array"},
            {"id": "b20", "name": "invalid_reason_message", "value": "={{ $json.invalid_reason_message }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n31-insert-bounce",
      "name": "Insertar PQR Rebote",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, 720],
      "parameters": {
        "operation": "create",
        "tableId": "pqr",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "tenant_id",               "fieldValue": "={{ $json.tenant_id }}"},
            {"fieldId": "radicado",                "fieldValue": "={{ $json.radicado }}"},
            {"fieldId": "source_hash",             "fieldValue": "={{ $json.source_hash }}"},
            {"fieldId": "channel",                 "fieldValue": "={{ $json.channel }}"},
            {"fieldId": "status",                  "fieldValue": "={{ $json.status }}"},
            {"fieldId": "classification_status",   "fieldValue": "={{ $json.classification_status }}"},
            {"fieldId": "hechos",                  "fieldValue": "={{ $json.hechos }}"},
            {"fieldId": "peticion",                "fieldValue": "={{ $json.peticion }}"},
            {"fieldId": "lead",                    "fieldValue": "={{ $json.lead }}"},
            {"fieldId": "discriminacion_tematica", "fieldValue": "={{ JSON.stringify($json.discriminacion_tematica) }}"},
            {"fieldId": "raw_text",                "fieldValue": "={{ $json.raw_text }}"},
            {"fieldId": "display_text",            "fieldValue": "={{ $json.display_text }}"},
            {"fieldId": "llm_text",                "fieldValue": "={{ $json.llm_text }}"},
            {"fieldId": "estructura_minima",       "fieldValue": "={{ JSON.stringify($json.estructura_minima) }}"},
            {"fieldId": "respeto_ok",              "fieldValue": "={{ $json.respeto_ok }}"},
            {"fieldId": "anonimato",               "fieldValue": "={{ $json.anonimato }}"},
            {"fieldId": "tutela_risk_score",       "fieldValue": "={{ $json.tutela_risk_score }}"},
            {"fieldId": "issued_at",               "fieldValue": "={{ $json.issued_at }}"}
          ]
        }
      },
      "credentials": {
        "supabaseApi": {"id": "ThBCT3ZXhob9Yi7x", "name": "Supabase account"}
      }
    },
    {
      "id": "n32-emit-bounce-event",
      "name": "Emitir Evento Rebote",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1140, 720],
      "parameters": {
        "operation": "create",
        "tableId": "pqr_events",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "tenant_id", "fieldValue": "={{ $json.tenant_id }}"},
            {"fieldId": "pqr_id",    "fieldValue": "={{ $json.id }}"},
            {"fieldId": "kind",      "fieldValue": "intake_agent_bounce"},
            {"fieldId": "payload",   "fieldValue": "={{ JSON.stringify({ validity: 'failed', reasons: $('Generar Razón de Rebote').item.json.invalid_reason_codes, message: $('Generar Razón de Rebote').item.json.invalid_reason_message, run_at: $now.toISO() }) }}"}
          ]
        }
      },
      "credentials": {
        "supabaseApi": {"id": "ThBCT3ZXhob9Yi7x", "name": "Supabase account"}
      }
    },
    {
      "id": "n33-output-bounce",
      "name": "Respuesta Rebote",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1400, 720],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "rb1", "name": "ok", "value": "={{ false }}", "type": "boolean"},
            {"id": "rb2", "name": "stage", "value": "bounced_incomplete", "type": "string"},
            {"id": "rb3", "name": "pqr_id", "value": "={{ $json.id }}", "type": "string"},
            {"id": "rb4", "name": "radicado", "value": "={{ $json.radicado }}", "type": "string"},
            {"id": "rb5", "name": "reasons", "value": "={{ $('Generar Razón de Rebote').item.json.invalid_reason_codes }}", "type": "array"},
            {"id": "rb6", "name": "message", "value": "={{ $('Generar Razón de Rebote').item.json.invalid_reason_message }}", "type": "string"},
            {"id": "rb7", "name": "processed_at", "value": "={{ $now.toISO() }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "note-intake",
      "name": "Nota Intake",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-2820, 80],
      "parameters": {
        "content": "## 📥 INTAKE\n\nWebhook POST /pqrs/intake recibe payload **NormalizedIntake** (ver fixtures/intake/normalized-intake.schema.json).\n\nDisparador manual + Semilla de Prueba permiten correr el flujo sin webhook.",
        "height": 180,
        "width": 480,
        "color": 2
      }
    },
    {
      "id": "note-validate",
      "name": "Nota Validación",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-2020, 80],
      "parameters": {
        "content": "## ✅ ESQUEMA + IDENTIDAD\n\nValida campos requeridos del NormalizedIntake.\nMapea source_channel → pqr.channel.\nCalcula radicado MED-YYYYMMDD-XXXXXX y source_hash sha256 (idempotencia).\nFormat-preserve: raw / display / llm (PII redactada).",
        "height": 220,
        "width": 540,
        "color": 4
      }
    },
    {
      "id": "note-validity",
      "name": "Nota Compuertas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-720, 80],
      "parameters": {
        "content": "## 🚦 COMPUERTAS DE VALIDEZ (Ley 1755/2015)\n\nAgente extrae hechos, petición, lead, respeto, estructura mínima y tutela_risk_score.\nGate combinado: hechos ∧ petición ∧ respeto ∧ anonimato_ok.",
        "height": 200,
        "width": 540,
        "color": 5
      }
    },
    {
      "id": "note-classify",
      "name": "Nota Clasificación",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [320, 80],
      "parameters": {
        "content": "## 🤖 CLASIFICACIÓN + COMPETENCIAS\n\nAgente devuelve tipo (6 enum), secretaria_codigo (26 oficiales), comuna/corregimiento, tags namespaced.\nLookups resuelven secretaria_id y comuna_id contra public.secretarias / public.comunas.",
        "height": 200,
        "width": 560,
        "color": 4
      }
    },
    {
      "id": "note-priority",
      "name": "Nota Prioridad",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1640, 80],
      "parameters": {
        "content": "## ⚙️ PRIORIDAD + PLAZO LEGAL\n\nP0 crítica · P1 alta · P2 media · P3 baja\nReglas: vulnerabilidad, tutela_risk, salud+urgencia, DAGRD ⇒ P0.\nPlazo en días hábiles (1/5/15/30) sumado sobre issued_at.",
        "height": 200,
        "width": 540,
        "color": 5
      }
    },
    {
      "id": "note-persist",
      "name": "Nota Persistencia",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2160, 80],
      "parameters": {
        "content": "## 💾 PERSISTENCIA\n\nInsert en public.pqr (tenant fijo alcaldia-medellin).\npqr_events guarda 'intake_agent_run' / 'intake_agent_bounce'.\nWorkbench /queue lee directo y renderiza inmediatamente.",
        "height": 200,
        "width": 540,
        "color": 6
      }
    },
    {
      "id": "note-bounce",
      "name": "Nota Rebote",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [320, 880],
      "parameters": {
        "content": "## ↩️ REBOTE (status=bounced_incomplete)\n\nTaxonomía fija: faltan_hechos · falta_peticion · irrespetuoso · anonimo_sin_datos_contacto · fuera_de_competencia_municipal.\nMensaje al ciudadano se construye desde los códigos.",
        "height": 200,
        "width": 540,
        "color": 3
      }
    }
  ],
  "connections": {
    "Webhook PQRS Intake": {
      "main": [[{"node": "Unificar Entradas", "type": "main", "index": 0}]]
    },
    "Disparador Manual": {
      "main": [[{"node": "Semilla de Prueba", "type": "main", "index": 0}]]
    },
    "Semilla de Prueba": {
      "main": [[{"node": "Unificar Entradas", "type": "main", "index": 1}]]
    },
    "Unificar Entradas": {
      "main": [[{"node": "Extraer Payload", "type": "main", "index": 0}]]
    },
    "Extraer Payload": {
      "main": [[{"node": "Validar Esquema NormalizedIntake", "type": "main", "index": 0}]]
    },
    "Validar Esquema NormalizedIntake": {
      "main": [[{"node": "¿Esquema Válido?", "type": "main", "index": 0}]]
    },
    "¿Esquema Válido?": {
      "main": [
        [{"node": "Computar Identidad", "type": "main", "index": 0}],
        [{"node": "Rechazo por Esquema", "type": "main", "index": 0}]
      ]
    },
    "Computar Identidad": {
      "main": [[{"node": "Format Preserve (raw/display/llm)", "type": "main", "index": 0}]]
    },
    "Format Preserve (raw/display/llm)": {
      "main": [[{"node": "Agente Validez", "type": "main", "index": 0}]]
    },
    "Gemini Validity": {
      "ai_languageModel": [[{"node": "Agente Validez", "type": "ai_languageModel", "index": 0}]]
    },
    "Parser Validez": {
      "ai_outputParser": [[{"node": "Agente Validez", "type": "ai_outputParser", "index": 0}]]
    },
    "Agente Validez": {
      "main": [[{"node": "Extraer Validez", "type": "main", "index": 0}]]
    },
    "Extraer Validez": {
      "main": [[{"node": "Aplicar Compuertas", "type": "main", "index": 0}]]
    },
    "Aplicar Compuertas": {
      "main": [[{"node": "¿Es Válido?", "type": "main", "index": 0}]]
    },
    "¿Es Válido?": {
      "main": [
        [{"node": "Agente Clasificador", "type": "main", "index": 0}],
        [{"node": "Generar Razón de Rebote", "type": "main", "index": 0}]
      ]
    },
    "Gemini Clasificador": {
      "ai_languageModel": [[{"node": "Agente Clasificador", "type": "ai_languageModel", "index": 0}]]
    },
    "Parser Clasificación": {
      "ai_outputParser": [[{"node": "Agente Clasificador", "type": "ai_outputParser", "index": 0}]]
    },
    "Agente Clasificador": {
      "main": [[{"node": "Extraer Clasificación", "type": "main", "index": 0}]]
    },
    "Extraer Clasificación": {
      "main": [[{"node": "Buscar Secretaría", "type": "main", "index": 0}]]
    },
    "Buscar Secretaría": {
      "main": [[{"node": "Capturar Secretaría ID", "type": "main", "index": 0}]]
    },
    "Capturar Secretaría ID": {
      "main": [[{"node": "Buscar Comuna", "type": "main", "index": 0}]]
    },
    "Buscar Comuna": {
      "main": [[{"node": "Motor de Prioridad y Plazo", "type": "main", "index": 0}]]
    },
    "Motor de Prioridad y Plazo": {
      "main": [[{"node": "Armar Fila PQR", "type": "main", "index": 0}]]
    },
    "Armar Fila PQR": {
      "main": [[{"node": "Insertar PQR", "type": "main", "index": 0}]]
    },
    "Insertar PQR": {
      "main": [[{"node": "Emitir Evento Intake", "type": "main", "index": 0}]]
    },
    "Emitir Evento Intake": {
      "main": [[{"node": "Respuesta OK", "type": "main", "index": 0}]]
    },
    "Generar Razón de Rebote": {
      "main": [[{"node": "Armar Fila Rebote", "type": "main", "index": 0}]]
    },
    "Armar Fila Rebote": {
      "main": [[{"node": "Insertar PQR Rebote", "type": "main", "index": 0}]]
    },
    "Insertar PQR Rebote": {
      "main": [[{"node": "Emitir Evento Rebote", "type": "main", "index": 0}]]
    },
    "Emitir Evento Rebote": {
      "main": [[{"node": "Respuesta Rebote", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "versionId": "los-compilados-intake-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
